<app-login></app-login>
<div class="container">
  <div class="row vertical-align">
    <div class="col-md-6 border-div">
     <h1>Introduction</h1>
      <p> Pirates grow on death at madagascar!Est talis olla,
        cesaris.Confucius says: love and om.After peeling the oysters,
        escargot and beer with it in a bowl.Hercle, hibrida brevis!, tumultumque!Sensorem crederes,
        tanquam grandis bulla.Cur boreas favere? Why does the klingon die? Neuter, salvus itineris tramitems diligenter magicae de pius, noster gabalium.</p>
    </div>
    <div class="col-md-6 text-center">

      <h1 >  Attend Conference <br> Build knowledge </h1>
    </div>
  </div>

  <div class="row vertical-align">
    <div class="col-md-6 border-div">
      <h2>Features</h2>
      <ol>
        <li>A falsis, verpa neuter bursa.</li>
        <li>Confucius says: everything, core, thought.</li>
        <li>Seaweed combines greatly with large truffels.</li>
        <li>Green people of a dead beauty, question the disconnection!</li>
        <li>A falsis, verpa neuter bursa.</li>
        <li>Confucius says: everything, core, thought.</li>
        <li>Seaweed combines greatly with large truffels.</li>
        <li>Green people of a dead beauty, question the disconnection!</li>
      </ol>
    </div>
    <div class="col-md-6 border-div" style="margin-left: 20px;">
      <h2>RSS</h2>
      <ul>
        <li>A falsis, verpa neuter bursa.</li>
        <li>Confucius says: everything, core, thought.</li>
        <li>Seaweed combines greatly with large truffels.</li>
        <li>Green people of a dead beauty, question the disconnection!</li>
        <li>A falsis, verpa neuter bursa.</li>
        <li>Confucius says: everything, core, thought.</li>
        <li>Seaweed combines greatly with large truffels.</li>
        <li>Green people of a dead beauty, question the disconnection!</li>
      </ul>

    </div>
  </div>

</div>
