

<div class="container">
  <app-loggedin></app-loggedin>

  <div class="row">
    <div style="float:left;" class="vertical-align">
      <input type="text" placeholder="Search"(keyup)="onKeyUp(searchBox.value)" #searchBox>
    </div>
    <div style="float:right;"><h4 (click)="onAddConferenceClick()">+ Add Conference</h4></div>

  </div>
  <div class="row">
    <table id="grid-basic" class="table table-condensed table-hover table-striped">
      <thead>
      <tr>
        <th data-column-id="name">Name</th>
        <th data-column-id="description">Description</th>
        <th data-column-id="main-phone">Status</th>
        <th data-column-id="start-date">Start Date</th>
        <th data-column-id="end-date">End Date</th>
        <th data-column-id="review-days">Review Days</th>
      </tr>
      </thead>
      <tbody>


      <tr *ngIf="!searchResults">
        <td colspan="6" align="center"> No Results found</td>
      </tr>
      <tr *ngFor="let conference of searchResults; let i = index" (click)="onRowClick(user)" #user>
        <td> {{conference.name}}</td>
        <td> {{conference.description}}</td>
        <td> {{getStatusForConference(conference.status)}}</td>
        <td> {{conference.start_date | date }}</td>
        <td> {{conference.end_date | date }}</td>
        <td> {{conference.review_days}}</td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
