<app-loggedin *ngIf="!isUser"></app-loggedin>
<app-usermenu *ngIf="isUser"></app-usermenu>
<div class="container">
  <div class="jumbotron" style="text-align: center;">
        <h3>Conference Details</h3>

  <div class="row">
    <table id="grid-basic" class="table table-condensed table-hover">
      <tbody>


      <tr align="right" *ngIf="isOpen">
        <td colspan="2"> <button class="btn btn-success" (click)="submitDocoument()"> Submit </button>  </td>
      </tr>


      <tr *ngIf="show_submit">
       <td colspan="2" align="left">
        <div style="align-content: left;">
          <input type="file" (change)="fileChangeEvent($event)" placeholder="Upload file..." />
        </div>
       </td>
      </tr>


      <tr *ngIf="show_submit">
        <td colspan="1" align="left">
          <div style="align-content: left;">
            <label class="ui small black button right icon upload-button">
              Comments
            </label>
          </div>
        </td>
        <td colspan="1" align="left">
          <div style="align-content: left;">
            <div class="form-group">
              <textarea class="form-control" rows="5" id="comment" [(ngModel)]="commentConf.comments"></textarea>
            </div>
            <br>
            <button type="button" (click)="upload()">Upload</button>
          </div>
        </td>
      </tr>


      <tr *ngIf="show_submit">
        <td colspan="2" align="center">

        </td>
      </tr>

      <tr *ngIf="document_submitted" align="center">
        <td colspan="2"><div class="alert alert-success">
          <strong>Success!</strong> Document submitted Successfully.
        </div>
        </td>
      </tr>


      <tr align="center" *ngIf="isActive">
        <td colspan="2"> <button class="btn btn-success" (click)="joinConference()"> Join Conference </button>  </td>
      </tr>

      <tr align="left">
        <td>Name</td>
        <td>{{conference.name}}</td>
      </tr>

      <tr align="left">
        <td>Description</td>
        <td>{{conference.description}}</td>
      </tr>

      <tr align="left">
        <td>Status</td>
        <td>{{getStatusForConference(conference.status)}}</td>
      </tr>


      <tr align="left">
        <td>Start Date</td>
        <td>{{conference.start_date | date }}</td>
      </tr>

      <tr align="left">
        <td>End Date</td>
        <td>{{conference.end_date | date}}</td>
      </tr>

      <tr align="left">
        <td>Review Days</td>
        <td>{{conference.review_days}}</td>
      </tr>


      </tbody>
    </table>
  </div>


    <div class="row" *ngIf="conference_documents">
      <h3>Documents Details</h3>
      <table id="grid-basics" class="table table-condensed table-hover">
        <thead align="left">
            <td>Name</td>
            <td>Role</td>
            <td>Document URL</td>

        </thead>
        <tbody>

        <tr *ngIf="conference_documents.length == 0">
          <td colspan="4" align="center"> No Documents found</td>
        </tr>




        <tr align="left" *ngFor="let doc of conference_documents">
          <td >{{doc.first_name}}</td>
          <td>{{getRoleString(doc.role_id)}}</td>
          <td><a href="{{doc.path}}" target="_blank">{{doc.path}}</a></td>

        </tr>





        </tbody>
      </table>

      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog" style="margin-top:20%;">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Upload Document</h4>
            </div>
            <div class="modal-body">
              <table  class="table table-condensed table-hover">

                <tr>
                  <td colspan="2" align="left">
                    <div style="align-content: left;">
                      <input type="file" (change)="reviewFileChangeEvent($event)" placeholder="Upload file..." />
                    </div>
                  </td>
                </tr>


                <tr >
                  <td colspan="1" align="left">
                    <div style="align-content: left;">
                      <label>
                        Comments
                      </label>
                    </div>
                  </td>
                  <td colspan="1" align="left">
                    <div style="align-content: left;">
                      <div class="form-group">
                        <textarea class="form-control" rows="5" id="review-comment" [(ngModel)]="commentConf.comments"></textarea>
                      </div>
                      <br>
                      <button type="button" (click)="reviewUpload()">Upload</button>
                    </div>
                  </td>
                </tr>

              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>



    </div>
  </div>
</div>
