<div class="container">

  <div class="row">
    <div style="float:left;"><h4>Active Customers</h4></div>
    <div style="float:right;" class="vertical-align">
      <input type="text" placeholder="Search"(keyup)="onKeyUp(searchBox.value)" #searchBox>
    </div>
  </div>
  <div class="row">
    <table id="grid-basic" class="table table-condensed table-hover table-striped">
      <thead>
      <tr>
        <th data-column-id="f_name">First Name</th>
        <th data-column-id="last_name">Last Name</th>
        <th data-column-id="age">Age</th>
        <th data-column-id="gender">Gender</th>
        <th data-column-id="email">Email</th>
        <th data-column-id="role">Role</th>
        <th>Update</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let item of searchResults; let i = index" (click)="onRowClick()" #user>
        <td>{{item.first_name}}</td>
        <td>{{item.last_name}}</td>
        <td>{{item.age}}</td>
        <td>{{getGenderString(item.gender)}}</td>
        <td>{{item.email}}</td>
        <td>
          <select class="form-control" #role (change)="roleChanged(role.value,item.id)">
            <option *ngFor ="let role of roles" [value]="role" [selected]="getRoleString(item.status) === role">{{role}}</option>
          </select>
        <td align="center"><button class="btn btn-success" (click)="updateRole(item.id)">Update Role</button></td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
