.username{
    color:white;
}

.navbar-loggedin-bg{
    background-color: #0f0f0f !important;
}

.vertical-align {
    display: flex;
    align-items: center;
}
.border-div{
    border: 1px solid black;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}